@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu&display=swap');

body {
  margin: 0;
  font-family: 'Anek Telugu', sans-serif;
  background-color:#F9F3EE;
}

header {
  display: flex;
  justify-content: center;
  margin:50px 40px;
  font-size: 27px;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 60px;
  justify-content: center;
  margin-bottom: 27px;
  margin-left:100px;
  margin-right: 100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px 10px;
  border-radius: 20px;
  background-color:white;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 93px;
}

#add-button {
  background-color: white;
  font-size: 17px;
  font-weight: 400;
  padding: 7px;
  position: relative;
  border: solid 1px #EDE6DB;
  left: 35%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  border: solid 1px #DDDDDD;
  padding: 17px;
  font-size: 17px;
  border-radius: 20px;
}

.board {
  width: 90%;
  border: solid 1px black;
  font-size: 20px;
  border-radius: 10px;
}

.item:nth-child(odd) {
  background-color:#F9F3EE;
}

#refresh {
  background-color: white;
  font-size: 17px;
  font-weight: 400;
  height: 40%;
  margin-top: 20px;
  border:none;
  margin-left: 140px;
  border: solid 1px #EDE6DB;
  padding:10px;
}

#refresh:hover {
  cursor: pointer;
  border-radius: 20px;
  background-color:#F9F3EE;
}

#add-button:hover {
  cursor: pointer;
  border-radius: 20px;
  background-color:#F9F3EE;
  padding:13px;
}

.informations {
  margin-right: 150px;
  width:30%;
}

.fa-crown {
  color:#FFE69A ;
  margin-right: 9px;
}

.item {
  margin-left: 10px;
}